In [33]:
from bs4 import BeautifulSoup
import requests
import os
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import pandas as pd

In [2]:
executable_path = {'executable_path':'c:\\Users\\tmlun\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [4]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain book information
articles = soup.find('div', class_='list_text')

news_title = articles.find("div", class_="content_title").text
news_p = articles.find("div", class_="article_teaser_body").text
print(news_title)
print(news_p)
    
# news_title = article_dates.find("div", class_="content_title").text
# news_p = articles.find("div", class_="article_teaser_body").text


# print(news_title)
# print("**********")
# print(news_p)

NASA's Curiosity Rover Reaches Its 3,000th Day on Mars
As the rover has continued to ascend Mount Sharp, it’s found distinctive benchlike rock formations.

In [5]:
print(news_title)

NASA's Curiosity Rover Reaches Its 3,000th Day on Mars

In [21]:
url = 'https://www.jpl.nasa.gov/images/?search=&category=Mars'
browser.visit(url)

In [26]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")
image = soup.find("img", class_="full-scale")["src"]
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

TypeError: 'NoneType' object is not subscriptable

In [27]:
# html = browser.html
# soup = BeautifulSoup(html, "html.parser")
# images = soup.find('span', )

# images.find

# for image in images:
#     browser.links.find_by_partial_text(news_title).click()

#     image_url = category.find('src')
#     image_url_list.append(image_url)

# jpeg_url_list = ['https://www.jpl.nasa.gov/' + url for url in image_url_list]

# # titles_and_urls = zip(category_list, book_url_list)
# try:
#     for image_url in jpeg_url_list:
#         browser.links.find_by_partial_text('news_title').click()

# # https://mars.nasa.gov/system/news_items/list_view_images/8832_PIA24180-panorama-320.jpg

# # featured_image_url = 

# except ElementDoesNotExist:
#     print("Scraping Complete")

In [28]:

# jpeg_url_list

In [29]:
# featured_image_url = 

# med_abbreviations = ['BMR', 'BP', 'ECG', 'MRI', 'qid', 'WBC']

# # We can use the read_html function in Pandas to automatically scrape any tabular data from a page (tables).
# tables = pd.read_html(url)
# tables

In [34]:
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)
mars_info = pd.read_html(facts_url)
mars_info = pd.DataFrame(mars_info[0])
mars_facts = mars_info.to_html(header = True, index = False).replace ("<th>0</th>", "<th>Description</th>").replace ("<th>1</th>", "<th>Mars</th>")
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Description</th>
      <th>Mars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [35]:
# #What we get in return is a list of dataframes for any tabular data that Pandas found.
# type(tables)

In [36]:
# #We can slice off any of those dataframes that we want using normal indexing.
# df = tables[]
# df.columns = ['abb', 'full_name', 'other']
# df.head

In [37]:
# # Cleanup of extra row
# del df['other']

In [38]:
# # Drop all single header rows
# df.columns = df.columns.get_level_values(0)
# df = df.loc[df.Ref.str.startswith("[")]
# df.head()

In [39]:
# # Drop the first row and set the index to the `abb` column
# ### BEGIN SOLUTION
# df = df.iloc[1:]
# df.set_index('abb', inplace=True)
# df.head()
# ### END SOLUTION

In [40]:
# # Split column values into two separate columns
# columnsplit = df['City'].str.split(", ", expand=True)
# df = df.assign(City=columnsplit[0],State=columnsplit[1])
# df.head()

In [41]:
# # Drop a column
# df = df.drop(['Ref'], axis=1)
# df.head()

In [42]:
# # Reset an index
# df = df.reset_index(drop=True)
# df.head()

In [43]:
#  df.loc[df.State=="New York"]

In [44]:
#  # Loop through the list of medical abbreviations and print the abbreviation
# # along with the full description.
# # Use the DataFrame to perform the lookup.
# ### BEGIN SOLUTION
# for abb in med_abbreviations:
#     print(abb, df.loc[abb].full_name)
# ### END SOLUTION

In [45]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
mars_hemisphere = []

products = soup.find("div", class_ = "result-list" )
hemispheres = products.find_all("div", class_="item")

for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced","")
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    
    html = browser.html
    soup=BeautifulSoup(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    mars_hemisphere.append({"title": title, "img_url": image_url})

In [46]:
mars_hemisphere

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [49]:
# book_url_list

In [50]:
browser.quit()

In [51]:
# # Pandas also had a to_html method that we can use to generate HTML tables from DataFrames.
# html_table = df.to_html()
# html_table

In [52]:
# # You may have to strip unwanted newlines to clean up the table.
# html_table.replace('\n', '')

In [53]:
# # You can also save the table directly to a file.
# df.to_html('table.html')